html {
    font-size:62.5%;
}

.Rectangle-8 {
    width: auto;
    height: 75rem;
    padding: 5rem 0 5rem;
    background-image: linear-gradient(323deg, #112970 108%, #25439d 34%);
}

img.Logo {
    width: 18.8rem;
    height: auto;
    margin: 1rem 35% .1rem;
    object-fit: contain;
}


.Rectangle {
    width: 41.0rem;
    height: 47.4rem;
    margin: 5rem auto 7.1rem;
    padding: 3rem 4.6rem 3.8rem;
    border-radius: .4rem;
    box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.2);
    background-color: #183380;
    /* border: 1px white solid; */
}

.Rectangle1 {
    width: auto;
    height: 2rem;
    margin: 10rem 0rem 0;
    padding: 1.5rem 8.2rem 1.5rem 8.1rem;
    background-color: #1c2646;
    /* border: 2px solid white; */
}

.Quality-research-rep {
    /* position: absolute; */
    width: 31.8rem;
    height: 11.7rem;
    margin: 0 0 3rem;
    font-family: NunitoSans;
    font-size: 3.2rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
    margin-left: 5rem;
}

/* .Rectangle-6 {
    width: 18%;
    height: 1.8rem;
    margin: 3.4rem 0 4.5rem;
    padding: 1.2rem 12.6rem 1.1rem;
    border-radius: 2.25rem;
    background-color: #20cdbb;
    text-align: center;
    margin-left: 3.5rem;
} */

.Rectangle-6 {
    width: 30%;
    height: 3.5rem;
    margin: 3rem auto 3.5rem;
    padding: 1.2rem 12.6rem 1rem;
    border-radius: 2.25rem;
    background-color: #20cdbb;
    text-align: center;
}

.Log-In {
    width: 3rem;
    height: 2.2rem;
    font-family: NunitoSans;
    font-size: 2.3rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Rectangle-5 {
    display: flex;
    margin-left: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    /* margin-top: 100rem; */
}

.OR {
    width: 2rem;
    height: 1.8rem;
    margin: 0rem 3rem;
    opacity: 0.15;
    font-family: Roboto;
    font-size: 1.7rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: white;
}

.Line1 {
    width: 18rem;
    height: 0rem;
    margin: .6rem 1.4rem .7rem 0;
    opacity: 0.1;
    border: solid .1rem #ffffff;
}
.Line2 {
    width: 18rem;
    height: 0rem;
    margin: .6rem 0 .7rem .14rem;
    opacity: 0.1;
    border: solid .1rem #ffffff;
}

.Dont-have-an-accoun {
    width: 16.9rem;
    height: 2rem;
    margin: 2.5rem 9rem 1.5rem;
    opacity: 0.5;
    font-family: NunitoSans;
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Sign-Up {
    width: 3rem;
    height: 2.2rem;
    font-family: NunitoSans;
    font-size: 2.3rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.footer {
    width: 22.5rem;
    height: 2rem;
    margin: 0 auto 0 0;
    opacity: 0.7;
    font-family: NunitoSans;
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    /* border: 1px white solid; */
}

@media (max-width: 998px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 48%;
    }
}
