html {
    font-size: 62.5%;
}

.Rectangle-8 {
    width: 100%;
    height: 75rem;
    padding: 5rem 0 5rem;
    background-image: linear-gradient(323deg, #112970 108%, #25439d 34%);
}

img.Logo {
    width: 18.8rem;
    height: auto;
    /* margin: 1rem 42% .1rem; */
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.Rectangle {
    width: 41rem;
    height: 47.4rem;
    margin: 5rem auto 7.1rem;
    padding: 3rem auto 3.8rem;
    border-radius: 0.4rem;
    box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    background-color: #183380;
    /* border: 1px white solid; */
}

.Rectangle1 {
    width: auto;
    height: 2rem;
    margin: 16rem 0rem 0;
    padding: 1.5rem 8.2rem 1.5rem 8.1rem;
    background-color: #1c2646;
    /* border: 2px solid white; */
}

.Quality-research-rep {
    /* position: absolute; */
    width: 31.8rem;
    height: 11.7rem;
    margin: 5rem 0 5rem;
    font-family: NunitoSans;
    font-size: 3rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
    margin-left: 5rem;
    display: block;
    padding-top: 2.5rem;
}

.Rectangle-6 {
    width: 15%;
    height: 2.5rem;
    margin: 3rem 6rem 3.5rem;
    padding: 1.6rem 11.6rem 1rem;
    border-radius: 2.25rem;
    background-color: #20cdbb;
    text-align: center;
    display: block;
    /* border: 1px white solid ; */
}

.Log-In {
    width: 4.8rem;
    height: 3.2rem;
    font-family: NunitoSans;
    font-size: 1.6rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Rectangle-5 {
    display: flex;
    /* margin-left: 1rem; */
    margin-bottom: 3rem;
    text-align: center;
    margin-left: 2rem;
    /* margin-top: 100rem; */
}

.OR {
    width: 2rem;
    height: 1.8rem;
    margin: 0rem 1.5rem;
    opacity: 0.15;
    font-family: Roboto;
    font-size: 1.7rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: white;
}

.Line1 {
    width: 13rem;
    height: 0rem;
    margin: 0.6rem 0rem 0.7rem 3.5rem;
    opacity: 0.1;
    border: solid 0.1rem #ffffff;
}
.Line2 {
    width: 13rem;
    height: 0rem;
    margin: 0.6rem 3.5rem 0.7rem 0.14rem;
    opacity: 0.1;
    border: solid 0.1rem #ffffff;
}

.Dont-have-an-accoun {
    width: 16.9rem;
    height: 2rem;
    margin: 12rem;
    opacity: 0.5;
    font-family: NunitoSans;
    font-size: 1.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Sign-Up {
    width: 4.8rem;
    height: 3.2rem;
    font-family: NunitoSans;
    font-size: 1.6rem;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    /* border: 1px white solid; */
}

.footer {
    width: 22.5rem;
    height: 2rem;
    margin: 0 auto 0 0;
    opacity: 0.7;
    font-family: NunitoSans;
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    /* border: 1px white solid; */
    /* position: fixed;
    left: 0;
    bottom: 0; */
}

@media (max-width: 998px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 48%;
    }
}
