.Rectangle-8 {
    width: auto;
    height: 591px;
    padding: 50px 0 50px;
    background-image: linear-gradient(323deg, #112970 108%, #25439d 34%);
}

img.Logo {
    width: 168px;
    height: 59px;
    margin: 10px 566px -10px;
    object-fit: contain;
}

.Rectangle {
    width: 410px;
    height: 374px;
    margin: 30px auto 71px;
    padding: 30px 46px 38px;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #183380;
}

.Rectangle1 {
    width: auto;
    /* height: 36px; */
    margin: 71px 0 0;
    padding: 9px 82px 7px 81px;
    background-color: #1c2646;
}

.Quality-research-rep {
    /* position: absolute; */
    width: 318px;
    height: 117px;
    margin: 0 0 30px;
    font-family: NunitoSans;
    font-size: 28px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
    margin-left: 50px;
}

.Rectangle-6 {
    width: 75px;
    height: 18px;
    margin: 34px 0 45px;
    padding: 12px 126px 11px;
    border-radius: 22.5px;
    background-color: #20cdbb;
    text-align: center;
    margin-left: 35px;
}

.Log-In {
    width: 61px;
    height: 22px;
    font-family: NunitoSans;
    font-size: 16px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Rectangle-5 {
    display: flex;
    margin-left: 45px;
    margin-bottom: 30px;
    /* margin-top: 100px; */
}

.Line1 {
    width: 128px;
    height: 0px;
    margin: 6px 14px 7px 0;
    opacity: 0.1;
    border: solid 1px #ffffff;
}
.Line2 {
    width: 128px;
    height: 0px;
    margin: 6px 0 7px 14px;
    opacity: 0.1;
    border: solid 1px #ffffff;
}

.Dont-have-an-accoun {
    width: 169px;
    height: 20px;
    margin: 25px 118.5px 15px;
    opacity: 0.5;
    font-family: NunitoSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Sign-Up {
    width: 61px;
    height: 22px;
    font-family: NunitoSans;
    font-size: 16px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.footer {
    width: 225px;
    height: 20px;
    margin: 0 796px 0 0;
    opacity: 0.7;
    font-family: NunitoSans;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
}

@media (max-width: 768px) {
    .Rectangle {
        width: 410px;
        height: 374px;
        margin: 20px auto 71px;
        padding: 20px 46px 38px;
        border-radius: 4px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
        background-color: #183380;
    }
    img.Logo {
        width: 168px;
        height: 59px;
        margin: 10px 290px -10px;
        object-fit: contain;
    }
}

@media (max-width: 417px) {
    .Rectangle {
        width: 65%;
        height: 100%;
        margin: 20px auto 71px;
        padding: 20px 46px 38px;
        border-radius: 4px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
        background-color: #183380;
        font-size: small;
        /* border: 1px white solid; */
    }
    img.Logo {
        width: 150px;
        height: 65px;
        margin: 10px 103px -10px;
        object-fit: contain;
    }
    .Quality-research-rep {
        /* position: absolute; */
        width: 218px;
        height: 117px;
        margin: 0 0 30px;
        font-family: NunitoSans;
        font-size: 22px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.39;
        letter-spacing: normal;
        color: #ffffff;
        text-align: center;
        /* margin-left: 15px; */
        /* border: 1px white solid; */
    }
    .Rectangle-6 {
        width: 75px;
        height: 18px;
        margin: 35px 0 45px;
        padding: 15px 68px 12px;
        border-radius: 22.5px;
        background-color: #20cdbb;
        text-align: center;
        margin-left: 8px;
    }
    .Rectangle-5 {
        display: flex;
        margin-left: 3px;
        margin-bottom: 30px;
        /* margin-top: 100px; */
    }
    .Dont-have-an-accoun {
        width: 169px;
        height: 20px;
        margin: 25px 38px 15px;
        opacity: 0.5;
        font-family: NunitoSans;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
}
